<a href="https://colab.research.google.com/github/BragatteMAS/Python/blob/master/How_to/How_to_Categorical_Variables_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# How_to_Categorical_Variables_ML

[REF](https://www.youtube.com/watch?v=ZPTAeXfaZ4g)actor from 

[Enem_datasets](https://archive.org/download/microdados_enem_2019_por_estados) by 

@Bragatte  210612

In [ ]:
import pandas as pd

In [ ]:
df_enem = pd.read_csv("https://archive.org/download/microdados_enem_2019_por_estados/microdados_enem_AM_2019.csv")

In [ ]:
df_enem.head()

   NU_INSCRICAO  NU_ANO  CO_MUNICIPIO_RESIDENCIA  ... Q023  Q024 Q025
0  190001006769    2019                  1302603  ...    A     A    A
1  190001007816    2019                  1302603  ...    A     A    A
2  190001013052    2019                  1302603  ...    A     A    B
3  190001015529    2019                  1302603  ...    A     A    A
4  190001025124    2019                  1302405  ...    A     A    A

[5 rows x 136 columns]

In [ ]:
df_enem.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 118087 entries, 0 to 118086
Data columns (total 136 columns):
 #   Column                       Dtype
---  ------                       -----
 0   NU_INSCRICAO                 int64
 1   NU_ANO                       int64
 2   CO_MUNICIPIO_RESIDENCIA      int64
 3   NO_MUNICIPIO_RESIDENCIA      object
 4   CO_UF_RESIDENCIA             int64
 5   SG_UF_RESIDENCIA             object
 6   NU_IDADE                     int64
 7   TP_SEXO                      object
 8   TP_ESTADO_CIVIL              int64
 9   TP_COR_RACA                  int64
 10  TP_NACIONALIDADE             int64
 11  CO_MUNICIPIO_NASCIMENTO      float64
 12  NO_MUNICIPIO_NASCIMENTO      object
 13  CO_UF_NASCIMENTO             float64
 14  SG_UF_NASCIMENTO             object
 15  TP_ST_CONCLUSAO              int64
 16  TP_ANO_CONCLUIU              int64
 17  TP_ESCOLA                    int64
 18  TP_ENSINO                    float64
 19  IN_TREINEIRO                 int64
 20  CO_ESCOLA                    float64
 21  CO_MUNICIPIO_ESC             float64
 22  NO_MUNICIPIO_ESC             object
 23  CO_UF_ESC                    float64
 24  SG_UF_ESC                    object
 25  TP_DEPENDENCIA_ADM_ESC       float64
 26  TP_LOCALIZACAO_ESC           float64
 27  TP_SIT_FUNC_ESC              float64
 28  IN_BAIXA_VISAO               int64
 29  IN_CEGUEIRA                  int64
 30  IN_SURDEZ                    int64
 31  IN_DEFICIENCIA_AUDITIVA      int64
 32  IN_SURDO_CEGUEIRA            int64
 33  IN_DEFICIENCIA_FISICA        int64
 34  IN_DEFICIENCIA_MENTAL        int64
 35  IN_DEFICIT_ATENCAO           int64
 36  IN_DISLEXIA                  int64
 37  IN_DISCALCULIA               int64
 38  IN_AUTISMO                   int64
 39  IN_VISAO_MONOCULAR           int64
 40  IN_OUTRA_DEF                 int64
 41  IN_GESTANTE                  int64
 42  IN_LACTANTE                  int64
 43  IN_IDOSO                     int64
 44  IN_ESTUDA_CLASSE_HOSPITALAR  int64
 45  IN_SEM_RECURSO               int64
 46  IN_BRAILLE                   int64
 47  IN_AMPLIADA_24               int64
 48  IN_AMPLIADA_18               int64
 49  IN_LEDOR                     int64
 50  IN_ACESSO                    int64
 51  IN_TRANSCRICAO               int64
 52  IN_LIBRAS                    int64
 53  IN_TEMPO_ADICIONAL           int64
 54  IN_LEITURA_LABIAL            int64
 55  IN_MESA_CADEIRA_RODAS        int64
 56  IN_MESA_CADEIRA_SEPARADA     int64
 57  IN_APOIO_PERNA               int64
 58  IN_GUIA_INTERPRETE           int64
 59  IN_COMPUTADOR                int64
 60  IN_CADEIRA_ESPECIAL          int64
 61  IN_CADEIRA_CANHOTO           int64
 62  IN_CADEIRA_ACOLCHOADA        int64
 63  IN_PROVA_DEITADO             int64
 64  IN_MOBILIARIO_OBESO          int64
 65  IN_LAMINA_OVERLAY            int64
 66  IN_PROTETOR_AURICULAR        int64
 67  IN_MEDIDOR_GLICOSE           int64
 68  IN_MAQUINA_BRAILE            int64
 69  IN_SOROBAN                   int64
 70  IN_MARCA_PASSO               int64
 71  IN_SONDA                     int64
 72  IN_MEDICAMENTOS              int64
 73  IN_SALA_INDIVIDUAL           int64
 74  IN_SALA_ESPECIAL             int64
 75  IN_SALA_ACOMPANHANTE         int64
 76  IN_MOBILIARIO_ESPECIFICO     int64
 77  IN_MATERIAL_ESPECIFICO       int64
 78  IN_NOME_SOCIAL               int64
 79  CO_MUNICIPIO_PROVA           int64
 80  NO_MUNICIPIO_PROVA           object
 81  CO_UF_PROVA                  int64
 82  SG_UF_PROVA                  object
 83  TP_PRESENCA_CN               int64
 84  TP_PRESENCA_CH               int64
 85  TP_PRESENCA_LC               int64
 86  TP_PRESENCA_MT               int64
 87  CO_PROVA_CN                  float64
 88  CO_PROVA_CH                  float64
 89  CO_PROVA_LC                  float64
 90  CO_PROVA_MT                  float64
 91  NU_NOTA_CN                   float64
 92  NU_NOTA_CH                   float64
 93  NU_NOTA_LC                   float64
 94  NU_NOTA_MT                   float64
 95  TX_RESPOSTAS_CN              object
 96  TX_RESPOSTAS_CH              object
 97  TX_RESPOSTAS_LC              object
 98  TX_RESPOSTAS_MT              object
 99  TP_LINGUA                    int64
 100 TX_GABARITO_CN               object
 101 TX_GABARITO_CH               object
 102 TX_GABARITO_LC               object
 103 TX_GABARITO_MT               object
 104 TP_STATUS_REDACAO            float64
 105 NU_NOTA_COMP1                float64
 106 NU_NOTA_COMP2                float64
 107 NU_NOTA_COMP3                float64
 108 NU_NOTA_COMP4                float64
 109 NU_NOTA_COMP5                float64
 110 NU_NOTA_REDACAO              float64
 111 Q001                         object
 112 Q002                         object
 113 Q003                         object
 114 Q004                         object
 115 Q005                         int64
 116 Q006                         object
 117 Q007                         object
 118 Q008                         object
 119 Q009                         object
 120 Q010                         object
 121 Q011                         object
 122 Q012                         object
 123 Q013                         object
 124 Q014                         object
 125 Q015                         object
 126 Q016                         object
 127 Q017                         object
 128 Q018                         object
 129 Q019                         object
 130 Q020                         object
 131 Q021                         object
 132 Q022                         object
 133 Q023                         object
 134 Q024                         object
 135 Q025                         object
dtypes: float64(24), int64(71), object(41)
memory usage: 122.5+ MB

## Select especific tipe of columns

In [ ]:
df_enem.select_dtypes(include="object").describe()

       NO_MUNICIPIO_RESIDENCIA SG_UF_RESIDENCIA TP_SEXO  ...    Q023    Q024    Q025
count                   118087           118087  118087  ...  118087  118087  118087
unique                      62                1       2  ...       2       5       2
top                     Manaus               AM       F  ...       A       A       B
freq                     85305           118087   68510  ...  108498   75502   63760

[4 rows x 41 columns]

## *Substitution*

In [ ]:
df_enem_cats = df_enem.select_dtypes(include="object")

In [ ]:
df_enem_cats.describe()

       NO_MUNICIPIO_RESIDENCIA SG_UF_RESIDENCIA TP_SEXO  ...    Q023    Q024    Q025
count                   118087           118087  118087  ...  118087  118087  118087
unique                      62                1       2  ...       2       5       2
top                     Manaus               AM       F  ...       A       A       B
freq                     85305           118087   68510  ...  108498   75502   63760

[4 rows x 41 columns]

## One-Hot Encoding

In [ ]:
!pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/44/57/fcef41c248701ee62e8325026b90c432adea35555cbc870aff9cfba23727/category_encoders-2.2.2-py2.py3-none-any.whl (80kB)
     |████████████████████████████████| 81kB 5.2MB/s
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.10.2)
Requirement already satisfied: patsy>=0.5.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.1.5)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (0.22.2.post1)
Requirement already satisfied: scipy>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.4.1)
Requirement already satisfied: numpy>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from category_encoders) (1.19.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.5.1->category_encoders) (1.15.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.20.0->category_encoders) (1.0.1)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.2.2

In [ ]:
import category_encoders as ce

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
df_enem['TP_SEXO']

0         F
1         F
2         F
3         M
4         F
         ..
118082    M
118083    M
118084    F
118085    F
118086    M
Name: TP_SEXO, Length: 118087, dtype: object

In [ ]:
from category_encoders.one_hot import OneHotEncoder

In [ ]:
one_hot_enc = OneHotEncoder(cols=['TP_SEXO']) #create two new columns TP_SEXO_* 1 and 2

In [ ]:
df_enem_cats_ohe = one_hot_enc.fit_transform(df_enem_cats)

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

## Ordinal Encoding

In [ ]:
 from category_encoders.one_hot import OneHotEncoder, OrdinalEncoder

In [ ]:
df_enem_cats.columns

Index(['NO_MUNICIPIO_RESIDENCIA', 'SG_UF_RESIDENCIA', 'TP_SEXO',
       'NO_MUNICIPIO_NASCIMENTO', 'SG_UF_NASCIMENTO', 'NO_MUNICIPIO_ESC',
       'SG_UF_ESC', 'NO_MUNICIPIO_PROVA', 'SG_UF_PROVA', 'TX_RESPOSTAS_CN',
       'TX_RESPOSTAS_CH', 'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT',
       'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC', 'TX_GABARITO_MT',
       'Q001', 'Q002', 'Q003', 'Q004', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010',
       'Q011', 'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019',
       'Q020', 'Q021', 'Q022', 'Q023', 'Q024', 'Q025'],
      dtype='object')

In [ ]:
ord_enc = OrdinalEncoder(cols=[ 'Q001', 'Q002', 'Q003', 'Q004', 'Q006', 'Q007', 'Q008', 'Q009', 'Q010',
       'Q011', 'Q012', 'Q013', 'Q014', 'Q015', 'Q016', 'Q017', 'Q018', 'Q019',
       'Q020', 'Q021', 'Q022', 'Q023', 'Q024', 'Q025'] ) #columns to change to ordinal

In [ ]:
ord_enc.fit_transform(df_enem_cats_ohe) #remember to set for controled table

/usr/local/lib/python3.7/dist-packages/category_encoders/utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

       NO_MUNICIPIO_RESIDENCIA SG_UF_RESIDENCIA  TP_SEXO_1  ...  Q023 Q024 Q025
0                       Manaus               AM          1  ...     1    1    1
1                       Manaus               AM          1  ...     1    1    1
2                       Manaus               AM          1  ...     1    1    2
3                       Manaus               AM          0  ...     1    1    1
4                       Lábrea               AM          1  ...     1    1    1
...                        ...              ...        ...  ...   ...  ...  ...
118082                   Coari               AM          0  ...     1    1    1
118083                  Manaus               AM          0  ...     1    2    2
118084                  Manaus               AM          1  ...     1    2    2
118085                  Manaus               AM          1  ...     1    1    1
118086                  Manaus               AM          0  ...     1    1    1

[118087 rows x 42 columns]